.navbar {
  background-color: #4c83c1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.logo img {
  width: 75px; 
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}



.file-input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}
