body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
    overflow: hidden;
  }
  
.round-wrap {
    border: 2px solid #000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 200px);
    
}
.preview-wrap{
  width: calc(100% - 300px);
  margin: 0 auto;

}
